
.header {
  height: 55px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(255, 255, 255);
  z-index: 101;
}
.left-section {
  display: flex;
  align-items: center;
}

.hamburger-menu {
  margin-left: 20px;
  margin-right: 20px;
}

.middle-section {
  flex: 1;
  margin-left: 85px;
  margin-right: 35px;
  max-width: 570px;
  display: flex;
  align-items: center;
}
.search-bar {
  flex: 1;
  height: 38px;
  padding-left: 10px;
  font-size: 16px;
  font-family: Roboto, Arial;
  border: 1px solid rgb(192, 192, 192);
  border-top-left-radius: 19px;
  border-bottom-left-radius: 19px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
  width: 10px;
}
.search-bar::placeholder {
  font-family: Roboto, Arial;
  font-size: 16px;
}
.search-button {
  height: 40px;
  width: 62px;
  background-color: rgb(245, 245, 245);
  border: 1px solid rgb(192, 192, 192);
  border-left: none;
  border-top-right-radius: 19px;
  border-bottom-right-radius: 19px;
  margin-right: 15px;
}
.voice-search-button {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: none;
}
.right-section {
  width: 205px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}
.rs-left {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  padding: 0 12px;
  border-radius: 16px;
  background-color: rgb(238, 238, 238);
}
.create-icon {
  height: 20px;
  margin-right: 5px;
}
.rs-left p {
  font-size: 12px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.7);
}
.notification-bell {
  height: 24px;
}
.notification-icon-container {
  position: relative;
}
.notification-icon-container-count {
  position: absolute;
  top: -3px;
  right: -5px;
  background-color: rgb(180, 0, 0);
  color: white;
  font-family: Roboto, Arial;
  font-size: 11px;
  font-weight: 700;
  padding: 1px 5px;
  border-radius: 10px;
}
.profile-image {
  height: 32px;
  border-radius: 16px;
  margin: 0 25px 0 15px;
}
